[Unit]
Description=Channels DVR
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=channels-dvr
Group=channels-dvr
WorkingDirectory=/var/lib/channels-dvr
ExecStart=/bin/sh -c 'exec /usr/lib/channels-dvr/latest/channels-dvr >> /var/lib/channels-dvr/channels-dvr.log 2>&1'
Restart=always
RestartSec=10
LimitNOFILE=8192
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target
